.DS_Store
add_meta_headers
ansicolors
brightness
brute/
captive
cht
clc
dic
dig_hash
distil-gpt2
dwmbar
getProgressString
gfv
google
gt
hex2rgb
human-readable
image2video
iosscreenmirror
jesksu
ksulunch
kybor
last-modified
manops
move
moves
p
qr
startdwm
tlk
todo
viman
vimwiki2markdown
volume
vpn
vpn10
wwid
